*{
    box-sizing: border-box;
}
body{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(market.jpg);
    background-attachment: fixed;
}
.heads ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: beige;
    overflow: hidden;
}
  
.heads li {
    float: right;
}
  
.heads a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 300;
}
  
.heads a:hover {
    background-color:blue;
}
.heads h1{
    color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: lightblue 4px 4px ;
    font-size: 100px;
    display: inline;
}
img{
    width: 170px;
    height: 140px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}
.sect{
    border: 1px gray solid;
    background-color: hsl(0, 0%, 50%, 0.7);
    margin-top: 10vh;
    width: 80%;
    margin-left:auto ;
    margin-right: auto;
   
}
.sect h3{
    font-size: 50px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.sect p{
    font-size: 30px;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
}
.sections{
    background-color: hsl(0, 0%, 50%, 0.7);
    width: 40%;
    height: auto;
    border: 0px solid white;
    padding: 8px;
    margin-left:20px ;
    margin-right: 50px;
    margin-top: 70px;
    
    
}
.sections li{
    font-size: 30px;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
}
.sections ol{
    margin-left: auto;
    margin-right: auto;
    list-style-position: inside;
    display: table;
    
}
.sections h3{
    font-size: 50px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.monday{
    display: flex;
    align-items: center;
    justify-content: center;
}